<h1>Button1:@this.ScreenXButton1</h1>

<ChildComponent @ref="this.ChildButtonComponent1" OnButtonClickEventHandler="this.OnButtonClick1"></ChildComponent>
<br />
<br />
<br />
<h1>Button2:@this.ScreenXButton2</h1>
<ChildComponent @ref="this.ChildButtonComponent2" OnButtonClickEventHandler="this.OnButtonClick2"></ChildComponent>